body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: white;
}

form {
    margin: auto;
    background-color: #2a3e68;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: black;
}

fieldset {
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #5d8395;
    max-height: 350px;
    max-width: 600px;
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    color: black;
}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #FCFAEE;
}

button {
    display: block;
    width: 100%;
    background-color: #97a5c2;
    color: black;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}

button :hover {
    color:white;
}

#generated-resume {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid #AAB396;
    border-radius: 8px;
    background-color: #3e5686;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    outline: none;
}

#generated-resume h2 {
    color: black;
}

#shareable-link {
    display: none;
}

#download-pdf {
    display: block;
    width: 600px;
    background-color: #384B70;
    color: black;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    margin: auto;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    max-width: 600px;
    cursor: pointer;
}

#shareable-url {
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

#para {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

}